{% extends 'error_and_home.html' %}

{% block content %}
    <div id="banner">
        <div id="banner-content">
        </div>
    </div>

    <div id="main-content">
        <h2>{{ coach_info['name'] }}</h2>
        <h2><a href="/team_page/{{ coach_info['tname'] }}">{{ coach_info['tname'] }}</a></h2>
        <center>
            <img src="/static/assets/default_coach_image.png" alt="Default Coach Image"
                 style="width:128px;height:128px;">
        </center>
        <h3>Previous Institution: {{ coach_info['previous_institution'] }}</h3>
    </div>
{% endblock %}

