{% extends 'error_and_home.html' %}

{% block content %}
    <div id="banner">
        <div id="banner-content">
        </div>
    </div>
    <div id="banner2">
        <div id="banner-content2">
        </div>
    </div>

    <form action="/match_page/{{ home_team }}/{{ away_team }}/{{ date }}" method="post">
        <input type="submit" class="connect" style="float: left;" onclick="subscribes()" name="subscribe"
               value="{{ is_subscribed }}">
    </form>

    <div id="main-content">
        <center><h1>{{ date }}</h1></center>
        <div class="row" style="margin-top: 20px;">
            <div class="column">
                <center><img src="/static/assets/teams/{{ home_team }}.png" alt="Default Team Image 2"
                             style="width:128px;height:128px;"></center>
                <center><h2><a href="/team_page/{{ home_team }}">{{ home_team }}</a></h2></center>
            </div>
            <center><h1>vs.</h1></center>
            <div class="column">
                <center><img src="/static/assets/teams/{{ away_team }}.png" alt="Default Team Image"
                             style="width:128px;height:128px;"></center>
                <center><h2><a href="/team_page/{{ away_team }}">{{ away_team }}</a></h2></center>
            </div>
        </div>
        <center><input src="/static/assets/subscribe_icon.png" type="image" alt="Subscribe Icon Image"
                       style="width:150px;height:40.5px;"></center>
    </div>
    <h2 style="margin-left: 20px;">Comments</h2>

    {% for comment in comments %}
        <li style="margin-left: 20px">{{ comment['content'] }} --{{ comment['uname'] }} commented
            at {{ comment['timestamp'] }}</li>
    {% endfor %}

    <p style="margin-left: 20px;">Add your comment below:</p>
    <form method="post" action="/match_page/{{ home_team }}/{{ away_team }}/{{ date }}">
        <textarea rows="5" name="comment" style="margin-left: 20px; width: 97%;">Enter your comment here...</textarea>
        <input type="submit" style="margin-left: 20px" value="Add Comment">
    </form>

    <script>
        function subscribes() {
            if (document.getElementsByName('subscribe')[0].value == "subscribe") {
                document.getElementsByName('subscribe')[0].value = "unsubscribe"
                alert('You have subscribed this match!')
            }
            else {
                document.getElementsByName('subscribe')[0].value = 'subscribe'
                alert('You have unsubscribed this match!')
            }
        }
    </script>
{% endblock %}