{% extends 'error_and_home.html' %}

{% block content %}
    <div id="banner">
        <div id="banner-content"></div>
    </div>
    {% if mode == 'private' %}
        <body>
        <div id="banner">
            <form method="get" action="/logout">
                <input src="/static/assets/logout_button.png" type="image" alt="Logout Button Image"
                       style="width:120px;height:50px; position: absolute; right: 0;">
            </form>
        </div>

        <div id="main-content">
            <h2>{{ user }}</h2>
            <h2>{{ email }}</h2>
            <center><img src="/static/assets/default_user_image.jpg" alt="Default User Image"
                         style="width:128px;height:128px;">
            </center>
            <div class="row" style="margin-top: 20px;">
                <div class="column" style="background-color: #aaa; ">
                    <h3>My Favorite Teams</h3>
                    <a href="/all_teams_page" style="float:right">(All Teams)</a>
                    <br>
                    {% for team in teams %}
                        <p align="center"><a href="/team_page/{{ team }}">{{ team }}</a></p>
                    {% endfor %}
                </div>
                <div class="column" style="background-color: #bbb; clear:both;">
                    <h3>My Favorite Players</h3>
                    <a href="/all_players_page" style="float:right">(All Players)</a>
                    <br>
                    {% for player in players %}
                        <p align="center"><a href="/player_page/{{ player['pid'] }}">{{ player['name'] }}</a></p>
                    {% endfor %}
                </div>
                <div class="column" style="background-color: #aaa; clear:both;">
                    <h3>My Subscribed Matches</h3>
                    <a href="/all_matches_page" style="float:right">(All Matches)</a>
                    <br>
                    {% for match in subscribe_matches %}
                        <p align="center">
                            <a href="/match_page/{{ match['home_tname'] }}/{{ match['away_tname'] }}/{{ match['date'] }}">
                                {{ match['home_tname'] }} VS {{ match['away_tname'] }} ON {{ match['date'] }}</a>
                        </p>
                    {% endfor %}
                </div>
                <div class="column" style="background-color: #bbb;">
                    <h3>My Friends</h3>
                    {% for friend in friends %}
                        <P align="center"><a href="/user_page/{{ friend }}/public">{{ friend }}</a></P>
                    {% endfor %}
                </div>
                <div class="column" style="background-color: #aaa;">
                    <h3>Here is someone you may want to know...</h3>
                    {% for potential_friend in potential_friends %}
                        <p align="center"><a href="/user_page/{{ potential_friend }}/public">{{ potential_friend }}</a>
                        </p>
                    {% endfor %}
                </div>
            </div>
        </div>

        </body>

    {% else %}
        <body>
        <form method="post" action="/user_page/{{ user }}/public">
            <input type="submit" class="connect" style="float: left;" onclick="makeFriend()" name="isFriend"
                   value="{{ is_friend }}">
        </form>

        <div id="main-content">
            <h2>{{ user }}</h2>
            <h2>{{ email }}</h2>
            <center><img src="/static/assets/default_user_image.jpg" alt="Default User Image"
                         style="width:128px;height:128px;">
            </center>
            <div class="row" style="margin-top: 20px;">
                <div class="column" style="background-color: #aaa; ">
                    <h3>{{ user }}'s Favorite Teams</h3>
                    <br>
                    {% for team in teams %}
                        <p align="center"><a href="/team_page">{{ team }}</a></p>
                    {% endfor %}
                </div>
                <div class="column" style="background-color: #bbb; clear:both;">
                    <h3>{{ user }}'s Favorite Players</h3>
                    <br>
                    {% for player in players %}
                        <p align="center"><a href="/player_page/{{ player['pid'] }}">{{ player['name'] }}</a></p>
                    {% endfor %}
                </div>
                <div class="column" style="background-color: #aaa; clear:both;">
                    <h3>{{ user }}'s Subscribed Matches</h3>
                    <br>
                    {% for match in subscribe_matches %}
                        <p align="center">{{ match[0] }} VS {{ match[1] }} on {{ match[2] }} <a
                                href="/all_matches_page">GO!</a></p>
                    {% endfor %}
                </div>
            </div>
        </div>
        </body>
    {% endif %}

    <script>
        function makeFriend() {
            if (document.getElementsByName("isFriend")[0].value == "disconnect") {
                document.getElementsByName("isFriend")[0].value = "make friend"
                alert('You have disconnected with {{ user }}');
            }
            else {
                document.getElementsByName("isFriend")[0].value = "disconnect"
                alert('You have make friend with {{ user }}');
            }
        }
    </script>

{% endblock %}
